Repository feldroy/air, pull requests merged in 2025-10, with the labels that each got.

#526 Change name of air.ext.sql to air.ext.sqlmodel
  docs/api/ext/sqlmodel.md
  docs/api/index.md
  mkdocs.yml
  src/air/ext/__init__.py
  src/air/ext/sqlmodel.py
  tests/ext/test_sql.py
Labels: python, docs, refactor

#530 Add mixed bread AI search on docs
  docs/tools.md
Labels: docs

#528 Refine `ruff` configuration
  justfile
  pyproject.toml
  uv.lock
Labels: Status: Mergable ✅, Status: Review Needed 💬

#531 Show use of include router for bigger apps
  docs/learn/cookbook/bigger-applications.md
Labels: docs
